Contact Form
<hr>
Fill in this form to conact the site owners
<br>
<form action="/process" method="post">
<br>
 <div>
 <label for="name">Full Name:<label>
     <br> Please enter your name.
     <br>
 <input type="text" id="name" name="full_name" />
 </div>
    <br> 
 <div>
 <label for="mail">E-mail:<label>
     <br> Please enter your email.
     <br>
 <input type="email" id="mail" name="email" />
 </div>
 <br>
  <div>
 <label for="subject">Subject:<label>
     <br> Please enter the subject for your message.
     <br>
 <input type="text" id="subject" name="subject" />
 </div>
 <br>
 <div>
 <label for="msg">Message:<label>
     <br> Please enter your message.
     <br>
 <textarea id="msg" name="message"></textarea>
</div>
<br>
<button type="submit">Send Message</button>

</form>